.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    }
.box {
    text-align: center;
    border: 1px solid black;
    width: 980px;
    height: 120px;
}
p {
    color:darkblue;
    line-height: 2;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}